<!DOCTYPE html>
<html>
<head>
    <title>NPR Labs Mapping Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0, 
                 maximum-scale=1.0, user-scalable=no" />
   
    <!-- deal with favicon and flask -->
    <link rel="shortcut icon" 
        href="{{ url_for('static', filename='favicon.ico') }}">
        
    <!-- No need to use their cdn
        <link rel="stylesheet" 
        href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"> --> 
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet.css') }}">
    
    
    
    <link rel="stylesheet" media="screen and (min-device-width: 800px)"
         href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" media="screen and (max-device-width: 800px)"
         href="{{ url_for('static', filename='small_style.css') }}">
    
    
</head>
    
<body>  
    <div class="container">
        <div id="info_div">
        <form id="typeform">
            <input type="radio" name="typeG" value="fm" checked="checked"/> FM 
            </br>
            <input type="radio" name="typeG" value="am"/> AM
        </form></br>
        <button id="fsbtn" value="go">Go fullscreen</button></br>
        <div id="address">
            <form id="typeform2">
                Address:</br>
                <input type="text" name="typeG" id="address_input"/>
            </form>
            <button id="geocodebtn" value="go">Zoom to address</button>
            <button id="csbtn" value="go">Zoom to callsign</button>
        </br></br>
        </div>
        
        <span id="info_span"> Info from markers here</div></span>
        <div id="mapid" allowfullscreen></div>
    </div>

    <!-- jquery and leaflet scripts -->
    
    <!-- probably need to organize these loads better -->
    
    <script 
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    
    <!-- 
    <script 
        src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js">
    </script> -->
    <script 
        type="text/javascript"
        src="{{ url_for('static', filename='leaflet.js') }}">
    </script>
    
    <script
        type="text/javascript"
        src="{{ url_for('static', filename='main_handler.js') }}" >
    </script>
    <script
        type="text/javascript"
        src="{{ url_for('static', filename='full_screen_handler.js') }}" >
    </script>
    
</body>
</html>

