xml/__MACOSX
venv/
xml/23 June
xml/June23
*.zip
test1.txt
test2.txt
*.swp
*.swo
*_data.txt
*~
*.db*
*.pyc
sql/temp
excels
zips/shape_files_and_excels/*
!zips/shape_files_and_excels/placeholder.txt
drive_parsing/June23_data
drive_parsing/June29_data
drive_parsing/raw_data
drive_parsing/csvs
*.csv
*.csv#
shape/Transmitters.*
shape/newtest.*
Transmitters.*
newtest.*
*.shx
*.shp
*.dbf
*.json
leaf_tests/json
test.js
ownparse.js
*main_test_file.js
sql/collect.js
parser/*
flask_testing/parser/
