xml/__MACOSX
xml/23 June
xml/June23
*.zip
test1.txt
test2.txt
*.swp
*.swo
*_data.txt
*~
*.db
*.pyc
sql/temp
excels
shape_files_and_excels/*
!shape_files_and_excels/placeholder.txt
drive_parsing/June23_data
drive_parsing/June29_data
*.csv
*.csv#
shape/Transmitters.*
shape/newtest.*
Transmitters.*
newtest.*
*.shx
*.shp
*.dbf
*.json
test.js
ownparse.js
