.container {
    display: -webkit-box; 
    display: -ms-flexbox; /* shouldn't break things, for compatibility */ 
    display: -webkit-flex; /* shouldn't break things, for compatibility */ 
    display: flex;
    flex-wrap:wrap
  
}
#info_div{
    /* need more compatibility */
    
    flex: 0 0 12%
}
#mapid{
    flex: 1 0
}
