
#test_block, #typeform, #address, #fsbtn, #csbtn{
    /* need more compatibility */
    display:none
}


#mapid {
    height: 100%;
    width:100%
}

body{
    padding: 0;
    margin:0;
}

html, body, .container{
    height: 100%;
}










