
#info_div, #typeform{
    /* need more compatibility */
    -webkit-box-flex: 0 0 20%;
    -moz-box-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    
    flex: 0 0 20%;
}
#test_block{
    display:block
}

#mapid{
    /* need more compatibility */
    -webkit-box-flex: 1 0;
    -moz-box-flex: 1 0;
    -webkit-flex: 1 0;
    -ms-flex: 1 0;
    
    
    flex: 1 0;
    height: 100%
}

body{
    padding: 0;
    margin:0;
    margin-left:1%
    background-color:#d3d3d3
}
html, body, .container{
    height: 100%;
    background-color:#d3d3d3gits
}


    
/*  and (orientation:portrait) */
@media all and (orientation:portrait) {
    #address {
        width:90%;
        margin-right:10px   
    }
    #address_input {
        background-color:#ededed;
    }
    
    .container {
        /* need more compatibility */
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox; 
        display: -webkit-flex;
        
        display: flex;
        flex-wrap:wrap;
        flex-direction: column-reverse;
    }
    
}

/*  and (orientation:landscape) */
@media all and (min-device-aspect-ratio: 1/1) and (orientation:landscape) {

    #address {
        width:90%;
        margin-right:10px
    }
    #address input{
        width:90%;
    }
    #address_input {
        background-color:#ff0000;
        margin-right:10px
    }
    
    .container {
        /* need more compatibility */
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox; 
        display: -webkit-flex;
        
        display: flex;
        flex-wrap:wrap;
        flex-direction: row; 
    }
    
}






















