BODY { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; FONT-SIZE: 10pt; }
P, LI { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; }
SELECT { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; }
INPUT { FONT-FAMILY: "Courier New", Arial, Helvetica, sans-serif; FONT-SIZE: 12px; }
/*  FCC CLASSES */
.fcctopnavlinks { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; COLOR: #FFFFFF; BACKGROUND-COLOR: #000099; }
.navlinks { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; }
.navlinkssub { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; margin-left: 9px; margin-bottom: 0px; margin-top: 0px; }
.navlinksbody { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; }
.navlinkheading { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; }
.subjectbar { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold; COLOR: #000099; }
.breadcrumb { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; }
.pagetitle { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 15pt; FONT-WEIGHT: bold; }
.sectionbanner { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold; }
.subsection { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; }
.issueboxtitle { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; COLOR: #000099; }
.issueboxtitleshifted { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; COLOR: #000099; margin-left: 3px; margin-top: 3px; }
.issueboxlite { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; COLOR: #808080; }
.issueboxred { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; COLOR: #FF0000; }
.issueboxtext { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; }
.headlinedate { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; COLOR: #808080; }
.imgcell img, .imgcell a { display: block; }
.bodytext { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; }
.grayedlink { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; COLOR: #999999; FONT-WEIGHT: bold; TEXT-DECORATION: underline; }
.bodytextbold  { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; }
.tdshaded { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; BACKGROUND: url(http://www.fcc.gov/images/box-gray12x12.gif); }
.thshaded { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 11pt; FONT-WEIGHT: bold; BACKGROUND-COLOR: #ffedc9; }
.thshaded_compact { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; BACKGROUND-COLOR: #ffedc9; }
.pagedate { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; }
.fccbottomnavlinks { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; }
.footertext { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; }
.ital { FONT-STYLE: italic; }
.jobtitle { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; }
.photocaption { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; }
.sub3head { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; }
.dropcap { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13pt; FONT-WEIGHT: bold; COLOR: #000099; }
.formlabel { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; }
.indentbody { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; margin-left: 18px; }
.indentcode { FONT-FAMILY: monoface; FONT-SIZE: 11pt; margin-left: 18px; COLOR: #663300; FONT-WEIGHT: bold; }
.code { FONT-FAMILY: monoface; FONT-SIZE: 11pt; COLOR: #663300; FONT-WEIGHT: bold; }
.red { COLOR: #FF0000; }
.green { COLOR: #669900; }
.tan { COLOR: #996600; }
.bluebold { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; COLOR: #000099; }
.blue { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; COLOR: #000099; }
.blue2 { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; COLOR: #0064CE; }
.greenhot { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold; COLOR: #669900; }
.redhot { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12pt; FONT-WEIGHT: bold; COLOR: #FF0000; }
.issueboxredtitle { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; COLOR: #FF0000; }
.calheader { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-WEIGHT: bold; }
.calmonth { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-STYLE: italic; FONT-WEIGHT: bold; COLOR: #663300; }
.tabletext { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; }
.tabletext_compact { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; }
.table-bluelight { background-color: #F7F5FF; FONT-SIZE: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 13px; color: #000000 }
.table-blue-header { background-color: #d6d9f3; FONT-SIZE: 11px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 13px; color: #000000 }
.dkbluetitle { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 15pt; FONT-WEIGHT: bold; COLOR: #000099; }
.searchlinks { FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; }
.cell-bluemedium { background-color: #d6d9f3; FONT-SIZE: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000 }
.cell-bluemediumdark { background-color: #a3a9e4; FONT-SIZE: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000}
.cell-bluelight { background-color: #F7F5FF; FONT-SIZE: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #000 }
.cell-bluedark { background-color: #009; FONT-SIZE: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFF }
.text-black-small {FONT-SIZE: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 13px; color: #000 }

/* Below are the ID's and Classes for the new FCC Bye Script.*/
/* The style for the blackout div that appears when the exit dialog is shown. */
#ln-blackout {position:fixed; top:0; left:0; width:100%; height:100%; background-color:#000;}

/* This style is for a container that holds the message dialog box. It has been added primarily to help with positioning. I know some people would complain about this, but it seems more efficient this way even it is isn't semanitc. */
#ln-messageHolder {position:fixed; top:150px; left:0; width:100%;}

/* This style is for the div that holds the actual exit dialog. */
#ln-messageBox {width:460px; margin:0 auto; min-height:200px; background-color:#fff; border:10px solid #e6e6e6; -moz-box-shadow:0 0 20px 10px #666; -webkit-box-shadow:0 0 20px #666; text-align:center; padding:20px;}

/* This style is applied to the link that closes the dialog. */
a#ln-cancelLink {background-color:#e6e6e6; font-weight:bold; padding:5px; color:#666; text-decoration:none; text-transform:uppercase; font-size:0.8em;}
a#ln-cancelLink:hover {background-color:#666; color:#e6e6e6;}

/* This style is for the box that holds the section that says where the user is being directed to. */
.setoff {background-color:#f2f2f2; padding:5px; margin:10px 0 20px 0;}
